# macOS
.DS_Store


# Neovim
lazy-lock.json


# Vim 
*.swp
*.swo
*~
config/vim/plugged
config/vim/autoload


# Glazewm/any logs
*.log


# Vifm data
config/vifm/*
!config/vifm/vifmrc


# Vssettings data
*/**/generated.vssettings


# Editor folders
.vscode/
.idea/


# Backup files created by installer (optional)
*.backup-*
